# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# Config files should use LF
*.conf text eol=lf
*.json text eol=lf
*.lua text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Markdown files
*.md text eol=lf
