@import "../omarchy/current/theme/swayosd.css";

window#osd {
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 25px;
  background-color: @background-color;
}

label {
  font-family: "GeistMono Nerd Font";
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 1;
}

progress {
  background-color: #fff;
}
