@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  padding: 0px;
  min-height: 0;
  font-family: "Geist";
  transition: background-color 0.3s ease-out;
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
}

#waybar > box {
  border-radius: 7px;
  border: 2px solid #343331;
  margin: 0px 0px 2px 0px;
  background-color: @background;
  /* box-shadow: 0px 0px 2px #101010; */
  min-height: 20px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: inherit;
}

#workspaces {
  margin: 0px 0px;
  margin-right: 4px;
  transition: 0.2s ease;
  padding: 0px 0px;
}

#workspaces button {
  padding: 1px 4px;
  margin: 0px;
  color: @foreground;
  border: none;
  opacity: 0.5;
  font-weight: 900;
  border-radius: 0;
}

#workspaces button.active {
  color: @foreground;
  transition: all 0.3s ease;
  padding: 1px 4px;
  opacity: 1;
}

#workspaces button:hover {
  background: transparent;
  color: alpha(@foreground, 0.4);
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.empty {
  opacity: 1;
  color: @foreground;
  transition: all 0.3s ease;
  padding: 1px 4px;
}

#memory,
#mpris,
#custom-expand-icon,
#tray,
#cpu,
#temperature,
#clock,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#custom-omarchy,
#idle_inhibitor,
#custom-updatespacman,

#custom-pomodoro,
#custom-weather,
#custom-update {
  min-width: 12px;
  padding: 0 4px;
  margin: 1px 3px 1px 3px;
}

#custom-omarchy {
  font-size: 14px;
  padding-left: 0px;
}

#custom-expand-icon {
  margin-right: 0px;
  opacity: 0.5;
}

#network {
  margin-left: 0;
}

#custom-separator,
#custom-weather-separator {
  opacity: 0.2;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

tooltip {
  padding: 4px;
  background: @background;
  font-size: 10px;
  border: 1px solid #343331;
  border-radius: 8px;
}

tooltip label {
  color: @foreground;
  font-weight: normal;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  margin: 0 4px;
}

.hidden {
  opacity: 0;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

/* Specific animation Module */

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
  /* animation-timing-function: linear; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink-recording {
  to {
    color: @background;
  }
}

@keyframes blink-inhibitor {
  to {
    color: @background;
  }
}

#mpris {
  color: @foreground;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}

#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
